[Unit]
Description=Platform Services
After=network.target

[Service]
ExecStart=/usr/local/bin/panduza/venv/bin/python3 /usr/local/bin/panduza/venv/lib/python3.11/site-packages/panduza_platform/__main__.py

[Install]
WantedBy=multi-user.target

